.contact {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
  .collab {
    margin: 1rem auto;
    .line {
      display: block;
      text-align: center;
      position: relative;
      transform: translate(0px, 0px);
      overflow: hidden;
      .line-item {
        display: block;
        text-align: center;
        position: relative;
        transform-origin: 100% 50%;
        transform: translate(0px, 0px);
        color: #f1f2f9;
        &.hey {
          font-size: 6rem;
          line-height: 6rem;
          font-weight: 400;
          @media (max-width: 900px) {
            line-height: 5rem;
            font-size: 5rem;
          }
          @media (max-width: 600px) {
            line-height: 3rem;
            font-size: 3rem;
          }
        }
        &.idea {
          font-size: 1.8rem;
          line-height: 2.2rem;
          font-weight: 300;
          @media (max-width: 600px) {
            line-height: 1.8rem;
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  .marquee {
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    border-radius: 50%;
    border: #f1f2f9 1px solid;
    @media (max-width: 900px) {
      padding: 2rem;
      margin-top: 2rem;
    }

    .line {
      display: block;
      position: relative;
      overflow: hidden;
      a {
        display: block;
        position: relative;
        color: #f1f2f9;
        font-size: 5rem;
        line-height: 5.5rem;
        font-weight: 300;
        text-decoration: none;
        display: inline-block;
        transition: color ease 0.3s;
        @media (max-width: 900px) {
          line-height: 3rem;
          font-size: 3rem;
        }
        @media (max-width: 600px) {
          line-height: 1.8rem;
          font-size: 1.6rem;
        }
        &::before,
        &::after {
          content: "";
          position: absolute;
          z-index: -1;
          height: 1.5px;
          background-color: white;
        }

        &::before {
          width: 0%;
          left: 0;
          bottom: 0;
          transition: width ease 0.4s;
        }

        &::after {
          width: 100%;
          left: 0;
          bottom: 0;
          transition: all ease 0.6s;
        }

        &:hover {
          &::before {
            width: 100%;
          }

          &::after {
            left: 100%;
            width: 0%;
            transition: all ease 0.2s;
            background-color: white;
          }
        }
      }
    }
  }

  .also-contact {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 4rem auto;
    @media (max-width: 900px) {
      display: flex;
      flex-direction: column;
    }

    .career {
      .line {
        display: block;
        position: relative;
        overflow: hidden;
        text-align: left;
        margin: 1rem auto;
        .line-item {
          display: block;
          position: relative;
          color: #f1f2f9;
          text-align: left;
          &.job {
            font-size: 1.6rem;
            line-height: 2.4rem;
            font-weight: 300;
            @media (max-width: 900px) {
              line-height: 2.4rem;
              font-size: 1.8rem;
            }
            @media (max-width: 600px) {
              line-height: 1.8rem;
              font-size: 1.2rem;
            }
          }
          &.underline {
            position: relative;
            text-decoration: none;
            display: inline-block;
            transition: color ease 0.3s;
            &::before,
            &::after {
              content: "";
              position: absolute;
              z-index: -1;
              height: 1px;
              background-color: white;
            }

            &::before {
              width: 0%;
              left: 0;
              bottom: 0;
              transition: width ease 0.4s;
            }

            &::after {
              width: 100%;
              left: 0;
              bottom: 0;
              transition: all ease 0.6s;
            }

            &:hover {
              &::before {
                width: 100%;
              }

              &::after {
                left: 100%;
                width: 0%;
                transition: all ease 0.2s;
                background-color: white;
              }
            }
          }
        }
      }
    }
    .social {
      .line {
        display: block;
        position: relative;
        overflow: hidden;

        margin: 1rem auto;
        .line-item {
          display: block;
          position: relative;
          color: #f1f2f9;

          &.media {
            font-size: 1.6rem;
            line-height: 2.2rem;
            font-weight: 300;
            text-decoration: none;
            @media (max-width: 900px) {
              line-height: 2.4rem;
              font-size: 1.8rem;
            }
            @media (max-width: 600px) {
              line-height: 1.8rem;
              font-size: 1.2rem;
            }
            &::after {
              content: "";
              position: absolute;
              width: 0;
              height: 0.5px;
              display: block;
              right: 0;
              margin-top: -2px;
              background: #f1f2f9;
              transition: 0.4s ease;
            }
            &:hover {
              &::after {
                width: 100%;
                left: 0;
                background: #f1f2f9;
              }
            }
          }
        }
      }
    }
  }
}
