.work-midamo {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .mockup {
    width: 375px;
    z-index: 2;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    @media (max-width: 600px) {
      width: 330px;
      display: flex;
      flex-direction: column;
    }
    img {
      width: 100%;
      display: block;
      object-fit: cover;
      margin: 0 2rem;
      @media (max-width: 600px) {
        margin: 1rem auto;
      }
    }
  }
  .some-words {
    display: block;
    text-align: center;
    position: relative;
    transform: translate(0px, 0px);
    overflow: hidden;
    p {
      display: block;
      text-align: center;
      position: relative;
      transform-origin: 100% 50%;
      transform: translate(0px, 0px);
      color: white;
      font-size: 2.5rem;
      line-height: 3rem;
      font-weight: 400;
      margin: 1rem auto;
      @media (max-width: 1440px) {
        line-height: 2.1rem;
        font-size: 2.2rem;
      }
      @media (max-width: 900px) {
        line-height: 1.8rem;
        font-size: 2rem;
      }
      @media (max-width: 600px) {
        font-size: 1.5rem;
        line-height: 1.5rem;
      }
    }
  }
  .process {
    display: block;
    text-align: center;
    position: relative;
    transform: translate(0px, 0px);
    overflow: hidden;
    h2 {
      display: block;
      text-align: center;
      position: relative;
      transform-origin: 100% 50%;
      transform: translate(0px, 0px);
      font-size: 5rem;
      line-height: 5rem;
      font-weight: 500;
      color: white;
      margin: 2rem auto;
      @media (max-width: 1440px) {
        line-height: 4.2rem;
        font-size: 4.1rem;
      }
      @media (max-width: 900px) {
        line-height: 3rem;
        font-size: 3rem;
      }
      @media (max-width: 600px) {
        font-size: 2.2rem;
        line-height: 2.5rem;
      }
    }
  }
}

.work-gg {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  .mockup {
    display: flex;
    margin: 0 auto;
    .web {
      width: 1000px;
      margin: 1rem;
      img {
        width: 100%;
        display: block;
        object-fit: cover;
      }
    }
    .mobile {
      width: 375px;
      margin: 1rem;
      img {
        width: 100%;
        display: block;
        object-fit: cover;
      }
    }
  }
  .some-words {
    p {
      color: white;
      font-size: 2.5rem;
      font-weight: 400;
      margin: 2rem auto;
    }
  }
  .process {
    display: flex;
    align-items: flex-start;
    text-align: left;
    h2 {
      font-size: 2rem;
      font-weight: 300;
      color: white;
      margin: 0.8rem 2rem;
    }
    ul {
      list-style: none;
      li {
        color: white;
        font-size: 1.5rem;
        font-weight: 300;
        margin: 0.8rem auto;
      }
    }
  }
}
