@import "./styles/Contact.scss";
@import "./styles/Services.scss";
@import "./styles/Profile.scss";
@import "./styles/Work.scss";
@import "./styles/Navigation.scss";
@import "./styles/Footer.scss";
@import "./styles/Midamo.scss";
@import "./styles/Header.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100vw;
  height: 100vh;
  font-family: "Philosopher";
  margin: 0;
  padding: 0;
  background: #fafafa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #040404;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.intro {
  background: #171717;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}

.not-found-page {
  height: 100vh;
  .not-found {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 200px;
    overflow-x: hidden;
    top: 20%;
    @media (max-width: 600px) {
      height: 100px;
      top: 15%;
    }
    .track {
      position: absolute;
      white-space: nowrap;
      will-change: transform;
      animation: marquee 20s linear infinite;
      color: #f1f2f9;
      font-size: 144px;
      font-weight: bold;
      @media (max-width: 600px) {
        font-size: 69px;
      }
    }
  }
  a {
    text-decoration: none;
    .more-btn {
      text-align: center;
      border-radius: 100%;
      width: 200px;
      height: 200px;
      margin: 0 auto;
      margin-top: 10rem;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s linear;
      border: 1px solid #f1f2f9;
      @media (max-width: 600px) {
        margin-top: 7rem;
        width: 120px;
        height: 120px;
      }
      &.btn-circle::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        transition: transform 300ms ease-in-out;
        transform: scale(0);
        border-radius: 100%;
      }
      &.btn-circle:hover::before,
      &.btn-circle:focus::before {
        transform: scale(1.05);
        outline: none;
        background: #f1f2f9;
        z-index: 100;
      }
      &.btn-cirlce {
        z-index: 1;
        overflow: hidden;
      }
      p {
        mix-blend-mode: difference;
        color: #f1f2f9;
        z-index: 101;
        margin: 0 2rem;
        font-size: 1.5rem;
        line-height: 2rem;
        @media (max-width: 600px) {
          font-size: 1.2rem;
          line-height: 1.6rem;
          margin: 0 0.5rem;
        }
      }
    }
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
